@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}

header {
  width: 100%;
  height: 250px;
  background-image: url("webd.png");
  background-position: 0px;
  background-repeat: repeat-x;
  -webkit-animation: myanim 13s infinite linear;
     -moz-animation: myanim 13s infinite linear;
       -o-animation: myanim 13s infinite linear;
          animation: myanim 13s infinite linear;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: Noto, serif;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  transition-duration: 1s;
  -webkit-background-clip: text;
}

h1:hover {
  letter-spacing: 10px;
}

h3 {
  width: 100%;
  height: 250px;
  background-image: url("lang.png");
  background-position: 0px;
  background-repeat: repeat-x;
  -webkit-animation: myanim 11s infinite linear;
     -moz-animation: myanim 11s infinite linear;
       -o-animation: myanim 11s infinite linear;
          animation: myanim 11s infinite linear;
}

h4 {
  width: 100%;
  height: 250px;
  background-image: url("sof.png");
  background-position: 0px;
  background-repeat: repeat-x;
  -webkit-animation: myanim 9s infinite linear;
     -moz-animation: myanim 9s infinite linear;
       -o-animation: myanim 9s infinite linear;
          animation: myanim 9s infinite linear;
}


@-webkit-keyframes myanim {
0%   { background-position: 0px; }
100% { background-position: 1280px; } /* set this to the width of the image */
}
@-moz-keyframes myanim {
0%   { background-position: 0px; }
100% { background-position: 1280px; } /* set this to the width of the image */
}
@-o-keyframes myanim {
0%   { background-position: 0px; }
100% { background-position: 1280px; } /* set this to the width of the image */
}
@keyframes myanim {
0%   { background-position: 0px; }
100% { background-position: 1280px; } /* set this to the width of the image */
}